.nodata {
    margin: 0 auto;
    transform: translateY(75%);
    width: 270px;
    height: 400px;
    img{
        width: 100%;
    }
    .nodata-text {
        font-size: 47.65px;
        color: #BBBBBB;
        text-align: center;
    }
}