@import '../assets/style/index.scss';

.error {
  padding-top: 400px;
  .exit {
    margin-top: 80px;
    button {
      &.btn {
        display: block;
        border: 2px solid #ff8928;
        border-radius: 8px;
        margin: 0 auto;
        padding: 8px 20px;
        background-color: #ff8928;
        line-height: 1.5;
        color: #fff;
      }
    }
  }
  .error-img {
    display: block;
    width: 450px;
    height: 400px;
    background: url('../assets/images/common/error.png') no-repeat;
    margin: 0 auto;
    background-size: contain;
  }
  h2 {
    margin-top: 60px;
    color: #666;
    font-size: 40px;
    text-align: center;
  }
}
